header {
    margin-top: -20px;
    width: auto;
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
}
h1 {
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

h1 {
    text-align: center;
}

.rectangle-forlinks { 
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.rectangle-receipt {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
.videoframe {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
a {
    font-size: 16px;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}




ul.custom-bullets {
    list-style-type: square;
    color: red;
}
.custom-steps {
    counter-reset: step-counter;
    list-style: none;
    padding-left: 0;
}
.custom-steps li {
    counter-increment: step-counter;
    margin-bottom: 5px;
}
.custom-steps li::before {
    content: "Крок №" counter(step-counter) ". ";
    font-weight: bold;
}


table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.h3-center{
    text-align: center;
    width: auto;
    border-radius: 10px;
    background-color: #f4f4f4;
}

.rectangle-fortable { 
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}